<!DOCTYPE html>
<html lang="en">
  <head>
    <title>HomeVito</title>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

    <!-- Bootstrap CSS v5.2.0-beta1 -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous" />
  </head>

  <body>
    <div class="container-fluid">
      <h1>INI DATA</h1>

      <form action="" method="">
        <div class="input-group">

          <select class="pilihKey" id="key" name="key">
            <option value="favoriteFruit">Favorite Fruit</option>
            <option value="eyeColor">Eye Color</option>
            <option value="age">Age</option>
            <option value="gender">Gender</option>
            <option value="company">Company</option>
          </select>

          <div class="form-outline">
            <input type="search" id="search" placeholder="search" name="search" class="form-control" />
          </div>
          <button type="submit" class="btn btn-primary">search</button>
        </div> 
      </form>
      
      <table class="table border border-3 text-center mt-3">
        <thead>
          <tr>
            <th scope="col">Eye Color</th>
            <th scope="col">Name</th>
            <th scope="col">Age</th>
            <th scope="col">Gender</th>
            <th scope="col">Company</th>
            <th scope="col">Email</th>
            <th scope="col">Phone</th>
            <th scope="col">Address</th>
            <th scope="col">Fav. Fruit</th>
          </tr>
        </thead>
        <tbody>
          <% filter.forEach(eachData => { %> <% if (eachData.isActive) { %>
          <tr class="table-success">
            <td><%= eachData.eyeColor %></td>
            <td><%= eachData.name %></td>
            <td><%= eachData.age %></td>
            <td><%= eachData.gender %></td>
            <td><%= eachData.company %></td>
            <td><%= eachData.email %></td>
            <td><%= eachData.phone %></td>
            <td><%= eachData.address %></td>
            <td><%= eachData.favoriteFruit %></td>
          </tr>
          <% } else { %>
          <tr class="table-danger">
            <td><%= eachData.eyeColor %></td>
            <td><%= eachData.name %></td>
            <td><%= eachData.age %></td>
            <td><%= eachData.gender %></td>
            <td><%= eachData.company %></td>
            <td><%= eachData.email %></td>
            <td><%= eachData.phone %></td>
            <td><%= eachData.address %></td>
            <td><%= eachData.favoriteFruit %></td>
          </tr>
          <% } %> <% }) %>
        </tbody>
      </table>
    </div>
    <!-- Bootstrap JavaScript Libraries -->
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.5/dist/umd/popper.min.js" integrity="sha384-Xe+8cL9oJa6tN/veChSP7q+mnSPaj5Bcu9mPX5F5xIGE0DVittaqT5lorf0EI7Vk" crossorigin="anonymous"></script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.min.js" integrity="sha384-ODmDIVzN+pFdexxHEHFBQH3/9/vQ9uori45z4JjnFsRydbmQbmL5t1tQ0culUzyK" crossorigin="anonymous"></script>
  </body>
</html>
